*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    font-family: sans-serif;
}


/* Header */
header {
    background-color: #1d4ed8;
    color: #eff6ff;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    padding: 24px 0px;
}

header img {
    width: 2rem;
    height: auto;
    position: absolute;
    top: 30%;
    left: 24px;
    cursor: pointer;
}

header img:hover {
    border: none;
}

/* Nav Bar */
#nav {
    color: black;
    background-color: #bfdbfe;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#nav h2 {
    padding-top: 24px;
    padding-left: 24px;
}

#nav ul {
    padding-left: 36px;
    list-style-type: none;
    line-height: 1.5rem;
}


#nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Main container  */
main {
    color: black;
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
    
#main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    gap: 16px;
}

#current-directory {
    font-weight: bold;
    background-color: #1d4ed8;
    color: #eff6ff;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
    font-size: 1.5rem;
}

#task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.task-item {
    width: 100%;
    border: 2px solid #bfdbfe;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
}

.completed {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.strikethrough {
    text-decoration: line-through;
}

button:hover,
.checkbox:hover {
    cursor: pointer;
}


.task-item p {
    font-size: 1rem;
    color: grey;
}

/* Task Form */
#form-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #bfdbfe;
    border-radius: 5px;
}

#form-container form {
    padding-top: 24px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 95%;
}

#form-container input[type="text"],
#form-container input[type="date"],
#task-details {
    width: 100%;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    background-color: #eff6ff;
    padding: 0px 8px;
}

#task-title, 
#task-date {
    height: 1.5rem;
}

#task-details {
    height: 4rem;
    resize: none;
    padding-top: 3px;
}

#form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#category {
    display: flex;
    width: 100%;
    gap: 16px;
}

.category-section {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 4px;
}
