*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    font-family: "Alata", sans-serif;
}


/* Header */
header {
    background-color: #1d4ed8;
    color: #eff6ff;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.1);
    z-index: 3;
}

header h1 {
    padding: 24px 0px;
}

header img {
    width: 2rem;
    height: auto;
    position: absolute;
    top: 30%;
    left: 24px;
    cursor: pointer;
}

header img:hover {
    border: none;
}

/* Nav Bar */
#nav {
    color: black;
    background-color: #bfdbfe;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

#nav h2 {
    padding-top: 24px;
    width: 80%;
    border-bottom: 2px solid black;
    align-self: center;
}

#nav ul {
    list-style-type: none;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

#nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Main container  */
main {
    color: black;
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
    
#main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 16px;
}

#current-directory {
    font-weight: bold;
    background-color: #1d4ed8;
    color: #eff6ff;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
    font-size: 1.5rem;
}

#task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.task-item {
    width: 100%;
    border: 2px solid #bfdbfe;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
}

.completed {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.strikethrough {
    text-decoration: line-through;
}

button:hover,
.checkbox:hover {
    cursor: pointer;
}


.task-item p {
    font-size: 1rem;
    color: grey;
}

#add-task {
    padding: 4px 8px;
    font-size: 1.2rem;
    background-color: #1d4ed8;
    color: #eff6ff;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
}

#add-task:hover {
    background-color: #eff6ff;
    color: #1d4ed8;
}

/* Forms */
#form-container,
#edit-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #bfdbfe;
    border-radius: 5px;
}

#form-container form,
#edit-container form {
    padding-top: 24px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 95%;
}

#form-title {
    align-self: flex-start;
    padding-bottom: 8px;
}

#form-container input[type="text"],
#form-container input[type="date"],
#task-details,
#edit-container input[type="text"],
#edit-container input[type="date"],
#edit-task-details{
    width: 100%;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    background-color: #eff6ff;
    padding: 0px 8px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

#task-title, 
#task-date,
#edit-task-title,
#edit-task-date {
    height: 1.5rem;
}

#task-details,
#edit-task-details {
    height: 4rem;
    resize: none;
    padding-top: 3px;
}

#form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#category,
#edit-category {
    display: flex;
    width: 100%;
    gap: 16px;
}

.category-section {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 4px;
}

/* Animations */
@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.new-box {
    transform-origin: 50% 0;
	animation: append-animate .3s linear;
}

/* Buttons */
button {
    font-family: inherit;
}

#cancel-edit,
#delete,
#hide-form {
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: #eff6ff;
}

#cancel-edit:hover,
#delete:hover,
#hide-form:hover {
    background-color: transparent;
    color: red;
}

#edit,
#submit-task-edit,
#submit-task {
    padding: 4px 8px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: #eff6ff;
}

#edit:hover,
#submit-task-edit:hover,
#submit-task:hover {
    background-color: transparent;
    color: green;
}

/* Responsiveness */
@media (max-width:650px) {
    body {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    header,
    #nav,
    main {
        width: 100%;
    }

    header h1 {
        padding: 12px 0px;
    }

    #main-container {
        width: 80%;
    }

    main {
        height: fit-content;
        flex: 1 1 auto;
        width: 100%;
    }

    #nav ul {
        line-height: 1.0rem;
        padding-bottom: 24px;
        text-align: center;
    }

    #nav {
        align-items: center;
    }

    #nav h2 {
        text-align: center;
    }
}
